{% extends 'base.html' %}
{% load static %}
{%  block body %}
  <main>

    
    <h1>{{question.question_text}}  --  {{question.pub_date}} </h1>
    <form method="post">
      {% csrf_token %}
      <fieldset>
          {% for choice in question.choice_set.all %}
              <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
              <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
          {% endfor %}
      </fieldset>
      <input type="submit" value="Vote">
      </form>
  </main>
  {%  endblock %}